/* Provide sufficient contrast against white background */
a {
    background-color: #3D3D3D;
}

element.style {
    background-color: #3D3D3D;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.box{
    margin-bottom: 2em;
}

.headerMargin {
    margin-top: 20px;
}

.btnRound {
    border-radius: 50%;
}

.img{
    width: 10px;
    height: 10px;
}

.p{
    margin-bottom:!important 0px;
}

.cardBody{
    color: white;
}

.cardHeader{
    color:white;
    text-align: center;
}