/* Provide sufficient contrast against white background */
a {
    background-color: #3D3D3D;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
}
#root{
    background-color: darkgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#root > div {
    flex: 1;
}

.Contact {
    background-color: green;
}
code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.box{
    margin-bottom: 2em;
}

.box2{
    margin-bottom: 1em;
}

.headerMargin {
    margin-top: 20px;
}

.btnRound {
    border-radius: 50%;
}

.img{
    width: 10px;
    height: 10px;
}

.p{
    margin-bottom:!important 0px;
}

.cardBody{
    color: whitesmoke;
}


.cardHeader{
    color:white;
    text-align: center;
}

.arrow {
    color: white;
    float: right;
}